In [30]:
import pandas as pd

In [31]:
n = int(input("Enter an non-negative integer number: "))
if n >= 0:
  print("Number is greater than 0")

else:
  print("Number is not greater than 0")

Enter an non-negative integer number: 25
Number is greater than 0

In [32]:
even_list = [i*2 for i in range(n)]
odd_list = [i*2+1 for i in range(n)]
fib_list = [0, 1]
if n > 2:
  for i in range(2, n):
    fib_list.append(fib_list[i-1]+fib_list[i-2])

In [35]:
odd_list

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [36]:
even_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [37]:
fib_list

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368]

In [40]:
len(even_list) == len(odd_list) == len(fib_list) #Test to check the len of the three lists

True

In [41]:
df = pd.DataFrame({'Even': even_list, 'Odd': odd_list, 'Fibonacci': fib_list})
print(df)

    Even  Odd  Fibonacci
0      0    1          0
1      2    3          1
2      4    5          1
3      6    7          2
4      8    9          3
5     10   11          5
6     12   13          8
7     14   15         13
8     16   17         21
9     18   19         34
10    20   21         55
11    22   23         89
12    24   25        144
13    26   27        233
14    28   29        377
15    30   31        610
16    32   33        987
17    34   35       1597
18    36   37       2584
19    38   39       4181
20    40   41       6765
21    42   43      10946
22    44   45      17711
23    46   47      28657
24    48   49      46368